.card-select-list{
 
    padding: 10px;
    background-image:url("../../assets/img/atardecer.jpg");
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    font-family:'highv';
    

}
