.card-select-list{

    padding-left: 10px;
    background-image:url("../../assets/img/fondopared.jpg");
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    font-family:'highv';
    

}