.card-select{
    
    padding-top: 6%;
    
}
.select-img{
    border-radius: 10px;


}

.card-select:hover{
    transform: scale(0.98);

}


.card-h2{
    display: flex;
    color: black;
    font-family:'highv';
    opacity: 0.9;
    padding-top: 5px;
    justify-content: center;
   

    
}
