
.main{

    background-image:url("../../assets/img/fondo.playa.jpg");
    background-size: cover; 
    height: 100vh;
    min-width: 100vw;
  

  

}


.title{
padding-top: 4%;
color:#f7f7f7;
font-family: 'highv';
opacity: 0.6;




}
.title-1{
    padding-left:3%;
}

.title-2{
    padding-left:5%;
    

}
.title-3{
    padding-left:7%
}
.title-4{
    padding-left:9%

}