@import "custom";
@import "~bootstrap/scss/bootstrap";



.App {
  text-align: center;
  color:var(--color-typography)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face{
  font-family: 'satoshi';
  src: url('./fonts/Satoshi/Satoshi-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'highv';
  src: url('./fonts/letrabeer/letrabeer.ttf');
}